<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793280350294-l0c764heo683hi4hvrgljrqu7aestor6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793280350294-l0c764heo683hi4hvrgljrqu7aestor6</string>
	<key>API_KEY</key>
	<string>AIzaSyCn7Xa9dXpwcGbLyVEEToLoOp7mIbXV4AA</string>
	<key>GCM_SENDER_ID</key>
	<string>793280350294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>schoolapp-c4747</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolapp-c4747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793280350294:ios:72c4a858da0c8fdeb4d3f7</string>
</dict>
</plist>